@import-normalize;

/* Apply a global box-sizing rule */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Set default body and html settings */
html,
body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
}

a:hover {
  color: #20fc8f;
}

/* Remove default table spacing */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset form elements */
button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
  margin: 0;
}

/* Make images and embedded objects responsive */
img,
embed,
iframe,
object,
video {
  max-width: 100%;
  height: auto;
}

/* Ensure the root element takes up the full viewport */
#root {
  width: 100%;
  height: 100%;
}
